/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.forum-container {
    max-width: 600px;
    margin: 20px auto;
    margin-top: 100px;
    background-color: hsl(220, 24%, 12%);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.forum-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.question-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.question-input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.submit-btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.question-list {
    margin-top: 20px;
}

.question-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.comment-input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.submit-comment-btn {
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.comment-list {
    margin-top: 10px;
}

.comment-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
}

.comment-section {
    margin-top: 10px;
    /* Tambahkan margin untuk memisahkan komentar dari pertanyaan */
}

.comment-input,
.submit-comment-btn,
.comment-list {
    display: none;
}

.question-item:hover .comment-input,
.question-item:hover .submit-comment-btn,
.question-item:hover .comment-list {
    display: block;
}